body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #4a90e2, #d57bfc);
}

header {
  background-color: #ffffff; /* White header */
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); /* Subtle shadow */
}

h1 {
  margin: 0;
  color: #333; /* Darker color for better readability */
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Meeting Box Styling */
.meeting-box {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  width: 40%;
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.5) ;
}

.meeting-box h2 {
  margin-top: 0;
  color: #333; /* Darker color for better readability */
}

.meeting-box h3 {
  margin-top: 20px;
  color: #555; /* Medium gray for subheadings */
}

.meeting-box input[type="text"], 
.meeting-box input[type="date"], 
.meeting-box textarea {
  padding: 12px;
  margin: 10px 0; /* Adjusted margin for consistency */
  border: 1px solid #ccc; /* Light gray border */
  width: calc(100% - 24px); /* Full width minus padding and border */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.meeting-box label {
  display: block;
  margin-bottom: 8px; /* Reduced margin for a tighter layout */
  font-weight: bold; /* Bold labels for better visibility */
  color: #444; /* Darker color for labels */
}

.meeting-box button {
  background: linear-gradient(to right, #3671fd, #6f31ff); /* Primary color for buttons */
  color: #fff;
  border: none;
  padding: 12px 24px; /* Increased padding for larger button */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
  border-radius: 5px;
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.4) ;
}

.meeting-box button:hover {
  opacity: 0.9; /* Darker shade for hover effect */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.5) ;
}


.success-message {
  color: green;
  margin-top: 10px;
  display: none;
  font-size: 14px; /* Font size for success messages */
}

.error-message {
  color: red;
  margin-top: 10px;
  display: none;
  font-size: 14px; /* Font size for error messages */
}
