body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #4a90e2, #d57bfc);
  }
  
  header {
    background-color: #ffffff; /* White header */
    padding: 1px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); /* Subtle shadow */
    
  }

.student-details-box {
    background-color: white;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 22px;
    border-bottom: 2px solid #23ace7;
    padding-bottom: 5px;
}

.section {
    margin-bottom: 20px;
}

.section label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.section input, .section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.section textarea {
    resize: none;
}

.submit-btn {
	background: linear-gradient(to right, #3671fd, #6f31ff); /* Primary color for buttons */
	color: #fff;
	border: none;
	padding: 12px 24px; /* Increased padding for larger button */
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
	border-radius: 5px;
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.3) ;
    width: 100%;

}

.submit-btn:hover {
    opacity: 0.9; /* Darker shade for hover effect */
	transform: scale(1.02); /* Slightly enlarge the button on hover */
	box-shadow:0 5px 10px rgba(0, 0.1, 0.1, 0.5) ;
}


button {
    background: linear-gradient(to right, #3671fd, #6f31ff);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.3) ;
}

button:hover {
    opacity: 0.9; /* Darker shade for hover effect */
	transform: scale(1.02); /* Slightly enlarge the button on hover */
	box-shadow:0 5px 10px rgba(0, 0.1, 0.1, 0.5) ;
}
.success-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
.section-divider{
    border-color: #23ace7;
    
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .student-details-box {
        padding: 20px;
    }
    h2 {
        font-size: 20px;
    }
    .section input, .section textarea {
        padding: 8px;
    }
    .submit-btn {
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .student-details-box {
        padding: 15px;
    }
    h2 {
        font-size: 18px;
    }
    .submit-btn {
        padding: 10px;
        font-size: 14px;
    }
}
