header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.5) ;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #4a90e2, #d57bfc);
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meeting-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    width: 40%;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.5) ;
}

.meeting-box h2 {
    margin-top: 0;
}

.meeting-box button {
    background: linear-gradient(to right, #3671fd, #6f31ff);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
    border-radius: 5px;
    box-shadow:0 5px 10px rgba(0, 0.1, 0.1, 0.2) ;
}

.meeting-box button:hover {
    opacity: 0.9; /* Darker shade for hover effect */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    box-shadow:0 5px 10px rgba(0, 0.1, 0.1, 0.4) ;
}

.meeting-updates {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.meeting-updates h3 {
    margin-top: 0;
}

.meeting-updates ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.meeting-updates li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.meeting-updates li:last-child {
    border-bottom: none;
}
