body {
	background: linear-gradient(to right, #4a90e2, #d57bfc);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  header {
	background-color: #ffffff;
	padding: 1px;
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.5) ;
  }
  
  main {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  #query-form {
	background-color: #fff;
	padding: 40px;
	margin: 50px auto;
	width: 600px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  label {
	margin-bottom: 5px;
	display: block;
  }
  
  input[type="text"], select, textarea {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	width: 100%;
  }
  
  input[type="submit"] {
	background: linear-gradient(to right, #3671fd, #6f31ff); /* Primary color for buttons */
	color: #fff;
	border: none;
	padding: 12px 24px; /* Increased padding for larger button */
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
	border-radius: 5px;
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.3) ;
  }
  
  input[type="submit"]:hover {
	opacity: 0.9; /* Darker shade for hover effect */
	transform: scale(1.05); /* Slightly enlarge the button on hover */
	box-shadow:0 5px 10px rgba(0, 0.1, 0.1, 0.5) ;
  }
  
  #student-container, #parent-container {
	margin-bottom: 20px;
  }
  
  #success-message {
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.8); 
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	display: none;
	width: 80%; 
	max-width: 600px; 
	z-index: 1; 
  }
  
  #success-message.blur {
	backdrop-filter: blur(10px); 
	-webkit-backdrop-filter: blur(10px);
  }
  
  #success-message.show {
	display: block;
  }
  
  #success-message.show ~ #query-form,
  #success-message.show ~ #query-list {
	display: none;
  }
  
  #tick-image {
	display: block;
	margin: 5px auto;
	width: 80px;
	height: 80px;
  }
  
  #success-message-content {
	text-align: center;
  }
  
  #success-message-content h2 {
	margin-top: 0;
  }
  
  #success-message-content p {
	margin-bottom: 20px;
  }
  
  /* Media query for mobile devices */
  @media only screen and (max-width: 768px) {
	#query-form {
	  width: 85%;
	  padding: 20px;
	}
	#success-message {
	  width: 85%;
	  max-width: none;
	}
	#tick-image {
	  width: 40px;
	  height: 40px;
	}
  }
  